doctype html
html
  head
    link(rel="stylesheet", href="./style.scss")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    main(class="container px-8 font-sans")
      h1(class="text-2xl") Joseph Bien-Kahn
      div(class="max-w-md")
        img(src="images/joey.jpg")

      p(class="italic") Joseph Bien-Kahn is a freelance journalist based in the Los Feliz neighborhood of Los Angeles. He's written profiles of ultrarunners, VW Bug drivers, Tijuanan baseball players, and reality stars. He covers film, tech, and people doing strange things in the desert.

      ul
        each val in links
          li
            span(class="font-bold")=val.publication
            |  (
            =val.date
            | ):
            |
            a(class="text-pink-500 hover:font-bold underline" href=val.link)= val.headline
