doctype html
html(lang="en" class="h-full")
  head
    link(rel="stylesheet", href="./style.scss")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="The professional website for Joseph Bien-Kahn, Los Angeles based journalist fouused on film, tech, and people doing strange things in the desert")

    meta(property="og:title" content="Joseph Bien-Kahn, Journalist")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://josephbienkahn.com")
    meta(property="og:image" content="images/joey.png")
    meta(property="twitter:creator" content="@strickinato")

    title Joseph Bien-Kahn | Journalist

  body(class="font-serif h-full w-full transparent")
    main(class="h-full w-full p-8 border-black border-solid border-8 overflow-scroll z-50")
      h1(class="text-3xl underline") Joseph Bien-Kahn

      p(class="italic my-8 max-w-lg pl-8") Joseph Bien-Kahn is a freelance journalist based in the Los Feliz neighborhood of Los Angeles. He's written profiles of ultrarunners, VW Bug drivers, Tijuanan baseball players, and reality stars. He covers film, tech, and people doing strange things in the desert.

      div
        h2(class="text-xl underline py-8") Selected Clippings
        ul(class="pl-8")
          each val in links
            li(class="mb-4")
              span(class="font-bold")=val.publication
              |  (
              =val.date
              | ):
              |
              div
                a(class="text-pink-800 hover:text-green-700 underline" href=val.link target="_blank")= val.headline

      p(class="pt-8") Get in contact at
        a(href="mailto:jbienkahn@gmail.com" class="text-purple-500")  jbienkahn@gmail.com

      img(class="hidden sm:block sm:absolute max-w-lg right-lil bottom-lil z-0" src="images/joey.png", alt="A picture of the author himself, Joseph Bien-Kahn")
